<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8">
  <title>Change Password | Gearwood</title>
  <link rel="stylesheet" th:href="@{/css/styles.css}"/>
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,100..900;1,100..900&display=swap" rel="stylesheet">
  <script src="https://kit.fontawesome.com/15e5b9ef86.js" crossorigin="anonymous"></script>
</head>
<body>
<div th:replace="~{fragments :: header}"></div>

<div class="change-password-body">
  <div class="change-password-container">
    <a th:href="@{/account}" class="back-button">
      <i class="fa-solid fa-arrow-left-long"></i>&nbsp;&nbsp;Back to Account</a>

    <div class="change-password-card">
      <form th:action="@{/account/password}" method="post"
            th:object="${password}" enctype="multipart/form-data">
        <h3>Change Password</h3>

        <div>
          <div class="label-error">
            <label for="current">Current Password</label>
            <label th:if="${#fields.hasErrors('current')}" th:errors="${password.current}" class="error-message"></label>
          </div>
          <input id="current" th:field="*{current}" type="password"/>
        </div>

        <div>
          <div class="label-error">
            <label for="new">New Password</label>
            <label th:if="${#fields.hasErrors('newPassword')}" th:errors="${password.newPassword}" class="error-message"></label>
          </div>
          <input id="new" th:field="*{newPassword}" type="password"/>
        </div>

        <div>
          <div class="label-error">
            <label for="confirm">Confirm Password</label>
            <label th:if="${#fields.hasErrors('confirm')}" th:errors="${password.confirm}" class="error-message"></label>
          </div>
          <input id="confirm" th:field="*{confirm}" type="password"/>
        </div>

        <button type="submit" class="button">Update Password</button>
      </form>
    </div>
  </div>
</div>

</body>
</html>